@inherits LayoutComponentBase

@Body


<BlazoredToasts Position="ToastPosition.BottomLeft"
                Timeout="10"
                ShowProgressBar="true"
                IconType="IconType.FontAwesome"
                SuccessIcon="fa-solid fa-thumbs-up"
                ErrorIcon="fa-solid fa-bug" 
                InfoIcon="fa-solid fa-info"
                WarningIcon="fa-solid fa-triangle-exclamation"/>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
