@page "/data"
@inject Names nameLists

<PageTitle>Data</PageTitle>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#/">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <h1>Data</h1>
            <p>Hello @(nameLists.Name)</p>
        </div>
        <div class="col-md-3">
            <h5>Singleton Data Lists</h5>
            <ol>
                @foreach (string company in nameLists.Companies)
                {
                    <li>@company</li>
                }
            </ol>
        </div>

    </div>
</div>


@code {

}
