@page "/"
@inject NavigationManager Nav
@inject Names nameLists

<PageTitle>Home</PageTitle>


<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#/">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Hello, world!</h1>

    <p>Welcome to your new app. Enjoy!</p>
    <div class="row">
        <div class="col-md-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Your Name</span>
                <input type="text" class="form-control" @bind-value="nameLists.Name" placeholder="Enter Your Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-3">
            <p role="status">Current count: @currentCount</p>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        </div>

    </div>
</div>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        Console.WriteLine("Here");
    }
}
